<nav class="nav navbar-expand-lg navbar-light bg-light justify-content-center fixed-bottom">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/"><i class="fas fa-home"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/"><i class="far fa-plus-square"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/"><i class="fas fa-user"></i></a>
    </li>
  </ul>
</nav>